@import "../../../globalStyles/scss/variables";

.search{
  padding: 0 40px;
  button{
    padding: 0;
  }
  svg{
    cursor: pointer;
  }
  input{
    padding: 10px 25px;
  }
  fieldset, input, .search__field .MuiOutlinedInput-root{
    border-radius: 5px;
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: transparent;
    box-shadow: 0 0 20px -6px rgba(0,0,0,0.75);
  }
  @media (max-width: $medium-screen) {
    padding: 10px;
  }
}

.react-autosuggest{
  &__container{
    position: relative;
    z-index: 10;
  }
  &__suggestions{
    &-container{
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      background-color: #fff;
      position: absolute;
      left: 0;
      right: 0;
      overflow: hidden;
      overflow-y: auto;
      border: 1px solid #dbdbdb;
      top: 100%;
      border-left: none;
      border-bottom: none;
      & ul{
        padding-left: 0;
      }
    }
  }
  &__suggestion{
    min-height: 40px;
    cursor: pointer;
    display: flex;
    width: 100%;
    line-height: 1.2;
    font-size: 12px;
    font-weight: 500;
    color: #222;
    &:hover{
      background-color: #e9e9e9;
    }
    & a{
      display: flex;
      width: 100%
    }
  }
  &__img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .152rem .3rem;
    vertical-align: middle;
    text-decoration: none;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    width: 50px;
    text-align: center;
    & img{
      max-width: 42px;
      max-height: 32px;
    }
  }
  &__name{
    display: flex;
    align-items: center;
    flex: 1;
    font-weight: 500;
    padding: .152rem .3rem;
    vertical-align: middle;
    text-decoration: none;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
  }
  &__price{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;
    border-left: none;
    vertical-align: middle;
    text-decoration: none;
    border-bottom: 1px solid #dbdbdb;
  }
}