@import "../../../globalStyles/scss/variables";
@import "../../../globalStyles/scss/animations";

.overlay {
  background-color: $overlay-background-color;
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity .1s ease-in-out;
  z-index: -1;

  &--search,
  &--main-menu-nav {
    opacity: 1;
    z-index: 2;
  }

  &--search {
    .overlay__right {
      background-color: transparent;
      height: auto;
    }
  }

  &--no-background {
    opacity: 1;
    background-color: transparent;
    z-index: 2;
  }

  &__left {
    position: fixed;
    min-height: 100%;
    background-color: $white;
    animation: sidenavLeftOpen 0.3s;
  }

  &__right {
    position: fixed;
    background-color: $white;
    right: 0;
    top: 0;
    height: 100%;
    animation: sidenavRightOpen 0.3s;
  }

  &__header {
    align-items: center;
    border-bottom: 1px solid $gray-light;
    display: flex;
    flex: 1;
    font-weight: $bold-font-weight;
    height: 5.7rem;
    justify-content: space-between;
    text-transform: uppercase;

    &-text {
      margin: 0 $spacer;
      text-align: center;

      &-items {
        color: $gray;
      }
    }

    &__close-icon {
      cursor: pointer;
      margin: 0 $spacer;

      &:hover,
      &:focus {
        svg {
          * {
            fill: $turquoise;
          }
        }
      }
      div {
        display: flex;
      }
    }

    &__cart-icon {
      margin: 0 $spacer;

      div {
        display: flex;
        svg {
          * {
            fill: $turquoise;
          }
        }
      }
    }
  }
}