@import "../../../globalStyles/scss/variables.scss";

.home-page {
  &__tabs{
    margin-top: 50px;
  }
  .carousel-container{
    padding-bottom: 20px;
  }
  .react-multi-carousel-item > div{
    padding: 5px;
    margin: 5px
  }
}