@import "src/globalStyles/scss/variables";

.product-carousel{
  .slider-frame{
    margin-left: 80px !important;
    @media (max-width: $small-screen) {
      margin-left: 0 !important;
    }
  }
  img{
    object-fit: contain;
    max-height: 400px;
    max-width: 100%;
  }
  .lazy-load-image-background{
    display: flex !important;
    width: 100%;
    align-items: center;
    justify-content: center;
    img{
      max-width: 100%;
    }
  }
  .carousel__thumbs{
    @media (max-width: $small-screen) {
      display: none;
    }
    .carousel__thumb{
      display: flex;
      align-items: center;
      margin: 10px 0;
      transition: all .4s;
      &--active{
        box-shadow: 0 0 20px -6px rgba(0,0,0,1);
        transform: scale(1.05);
      }
      img{
        cursor: pointer;
        max-width: 70px;
      }
    }
  }
  .slider-control-centerleft, .slider-control-centerright{
    svg{
      font-size: 4.8rem;
      color: $white;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
    }
  }
  .gallery-thumb {
    border: 1px solid transparent;
    &:hover, &.active{
      border: 1px solid #000;
    }
    img{
      max-height: 100px;
    }
  }
  .image-gallery-icon:hover{
    color: gray;
  }
  .gallery-img.image-gallery-slide .image-gallery-image{
    max-height: 600px;
  }
}
.swiper-slide{
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container-thumbs{
  margin-top: 20px;
  .swiper-slide{
    border: 1px solid #d1d1d1;
    cursor: pointer;
  }
  .swiper-slide-thumb-active{
    border-color: #588ca4;
  }
  .swiper-button-disabled{
    display: none;
  }
  .swiper-button-next, .swiper-button-prev{
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: #2786d0;
    &:hover{
     --swiper-navigation-color: #9dbae3;
    }
  }
}
